<ul class="main-nav main-nav--{{ lxMainNav.context }}">
    <li>
        <lx-main-nav-link lx-context="{{ lxMainNav.context }}" lx-label="Getting started" lx-state="app"></lx-main-nav-link>

    </li>
    <li>
        <lx-main-nav-link lx-context="{{ lxMainNav.context }}" lx-label="Trang cá nhân" lx-state="app.feeds"></lx-main-nav-link>
    </li>
    <!--<li>
        <lx-main-nav-link lx-context="{{ lxMainNav.context }}" lx-label="Danh sách partner" lx-state="app.partners"></lx-main-nav-link>
    </li>-->
</ul>